@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.container {
	position: relative;
	overflow: hidden;

	background-color: var(--des24-cream);
	color: var(--des24-black);

	padding: 3rem 1rem 5rem;
	font-size: 1em;

	* {
		font-family: "Inter";
	}

	& .heading {
		color: var(--des24-hot-pink);
		font-size: 50px;
		font-weight: 700;
	}

	& .polaroids {
		margin-top: 3rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 4rem;

		& .polaroidHeading {
			font-size: 2.5rem;
			font-weight: 700;

			padding-bottom: 3rem;
		}

		.polaroid {
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;

			width: 100%;

			.polaroidImage {
				width: 100%;

				border-radius: 0.5rem;
			}

			.polaroidDetails {
				padding-top: 0.5rem;
				text-align: left;

				.polaroidName {
					font-size: 1.25rem;
					font-weight: 600;

					padding-bottom: 8px;
				}

				.polaroidPosition {
					font-size: 1rem;
					font-weight: 400;
				}
			}

			.tape {
				width: 66%;
				z-index: 5;

				position: absolute;
				top: -16px;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		& .keynote {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			text-align: center;
		}

		.peopleContainer {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.people {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				row-gap: 3rem;
				column-gap: 1rem;
			}
		}
	}

	.airplane {
		position: absolute;
		max-width: 125px;

		bottom: 0px;
		right: 10px;

		@media screen and (min-width: 640px) {
			max-width: 200px;

			right: 40px;
		}

		@media screen and (min-width: 1024px) {
			max-width: 250px;

			right: 0px;
		}

		@media screen and (min-width: 1280px) {
			max-width: 300px;
		}
	}
}

@media screen and (min-width: 768px) {
	.container {
		.polaroids {
			.polaroid {
				width: 300px;

				.tape {
					width: 187.5px;
					top: -32px;
				}

				.polaroidImage {
					height: 300px;
				}

				.polaroidDetails {
					.polaroidName {
						font-size: 2rem;
					}

					.polaroidPosition {
						font-size: 1.5rem;
					}
				}
			}

			.peopleContainer {
				margin: auto;

				.people {
					column-gap: 3rem;
					row-gap: 3rem;
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.container {
		padding: 4rem 5rem 6rem;

		.polaroids {
			margin-top: 5rem;
			gap: 8rem;

			.polaroidHeading {
				padding-bottom: 5rem;
			}

			.polaroid {
				width: 400px;

				.tape {
					width: 250px;
					top: -48px;
				}

				.polaroidImage {
					height: 400px;
				}
			}

			.peopleContainer {
				margin: auto;

				.people {
					row-gap: 6rem;
					column-gap: 3rem;
				}
			}
		}
	}
}

@media screen and (min-width: 1536px) {
	.container {
		.polaroids {
			.peopleContainer {
				.people {
					grid-template-columns: repeat(3, 1fr);
				}
			}
		}
	}
}

@media screen and (min-width: 1728px) {
	.container {
		.polaroids {
			.polaroid {
				width: 450px;

				.polaroidImage {
					height: 450px;
				}

				.tape {
					width: 284px;
				}
			}
		}

		.peopleContainer {
			width: 1568px;
		}
	}
}
