.graph {
	position: absolute;
	object-fit: cover;
	background-repeat: repeat-y;
	background-size: 100% auto;

	top: 0;
	left: 0;

	width: 60%;
	height: 80%;
	max-height: calc(100vh - 88px); // 88px is the navbar
}
