.container {
	position: relative;
	background-color: var(--des24-black);
	background-image: url("../../assets/graphics/background/dark_splash.svg");
	background-repeat: repeat-y;
	background-size: 100% auto;
	color: var(--des24-cream);

	& .note {
		color: var(--gray);
		font-size: 1.2em;
		line-height: 1.3em;
	}

	.heading {
		color: var(--des24-hot-pink);
		font-size: 3rem;
		font-weight: 700;
		margin-bottom: 4rem;

		@media screen and (min-width: 640px) {
			font-size: 5rem;
		}

		@media screen and (min-width: 1280px) {
			font-size: 6rem;
		}
	}

	.date {
		color: var(--des24-peach);
	}

	a {
		text-decoration: underline;
		transition: color 350ms;

		&:hover {
			color: white;
		}
	}

	& h2 {
		color: var(--blue);
		font-weight: bold;
	}

	& .list {
		display: grid;
		row-gap: 20px;

		& > .event {
			display: grid;
			grid-template-columns: auto 1fr;
			column-gap: 20px;
			padding-bottom: 20px;
			border-bottom: 2px solid var(--gray);

			@media screen and (min-width: 950px) {
				grid-template-columns: 150px 1fr 1fr;
			}

			& > .title {
				font-size: 1.4em;
				font-weight: bold;
				text-align: right;

				&.special {
					color: var(--yellow);
				}

				&.highlight {
					color: var(--blue);
				}
			}

			& > .time {
				font-size: 1.3em;
				display: grid;
				row-gap: 8px;
			}

			& > .description {
				padding-top: 20px;
				color: var(--des24-cream);
				grid-column: 1 / 3;
				font-size: 1.1em;
				line-height: 1.2em;
				display: grid;
				row-gap: 20px;

				& > p {
					line-height: 1.2em;
				}

				@media screen and (min-width: 950px) {
					padding-top: 0px;
					grid-column: 3 / 4;
				}
			}
		}
	}
}
